body{
	background-color: lightgrey;
	
}

h1{
	color: orange; 
	font-size: 90px;
	text-decoration: underline;
}

h2{
	font-size: 22px;
	color: green;}
.small{
	font-size: 6px;
}

span{
	text-decoration: underline;
	color: #E08D00;
	font-style: italic;
}

h2 span{
	color: blue;
	text-decoration: line-through;
}